@import "inset-shadow";

#chat #chat-entry {
  position: absolute;
  bottom: 0px;
  left: 20px;
  right: 20px;
  height: 70px;

  #chat-entry-input {
    @extend .inset-shadow;
    @extend .font-bold;
    position: absolute;
    left: 0;
    // IE won't stretch an input
    //right: 40px;
    width: 330px;
    top: 15px;
    padding: 7px 10px;
  }

  #user-list-toggle-button {
    position: absolute;
    top: 19px;
    right: 0;
    width: 31px;
    height: 19px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(/images/layout/user-list.svg) no-repeat;
    .ie8 & {
      background: url(/images/layout/user-list.png) no-repeat;
    }
  }
}

