// as a rule global should not emit anything

// colors:
$text-normal:             #333;
$text-strong:             #111;
$text-weak:               #666;
$text-weakest:            #999;
$text-gray:               #ccc;
$text-green:              #799058;
$text-green-strong:       #617840;
$text-light-green:        #a5c579;
$text-red:                #941c1e;
$text-dark-red:           #910;
$text-blue:               #24566f;
$text-white:              #fff;

$icon-green:              #5a7b2a;
$icon-light-green:        #789b41;
$icon-dark-green:         #2e4710; // 354E17;
$icon-black:              #000;
$icon-light-black:        #333;
$icon-white:              #fff;
$icon-gray:               #999;
$icon-light-gray:         #a2a2a2;
$icon-dark-gray:          #666;
$icon-red:                #941c1e;

$background-white:        #fff;
$background-off-white:    #f5f5f5;
$background-light-green:  #eff5e5;
$background-dark-white:   #e9e9e9;
$background-gray:         #eee;
$background-green:        #5f8031;

$rule-gray:               #ededed;

$scrollbar-gray:          #c8c8c8;
$scrollbar-gray-hover:    #aaa;

$content-shadow:          rgba(0,0,0,0.2);
$content-bottom-shadow:   rgba(0,0,0,0.5);

// basic rounded buttons
$basic-button-top:               #bababa;
$basic-button-bottom:            #fff;
$basic-button-shadow:            rgba(0,0,0,0.1);
$basic-button-hover-shadow:      rgba(50,50,50,0.1);
$basic-button-background:        rgba(255,255,255,0.4);
$basic-button-hover-background:  rgba(255,255,255,0.8);
$basic-button-off-white-background:        rgba(245,245,245,0.8);
$basic-button-off-white-hover-background:  rgba(91,122,47,0.8);
$basic-tab-side:                 #ddd;

// user list button
$toggle-button-border:           #f5f5f5;
$toggle-button-shadow:           #aaa;

// squarish colored buttons
$button-green-top:        #5c7639;
$button-green-bottom:     #3c4e26;
$button-gray-top:         #eee;
$button-gray-bottom:      #d9d9d9;

// fonts:
$font-normal:             'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Helmet', 'Freesans', sans-serif;
$font-bold:               'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Helmet', 'Freesans', sans-serif;
$font-entypo:             'EntypoRegular', sans-serif;
$font-efon:               'EfonRegular', sans-serif;
$font-aierbazzi:          'AierbazziRegular', sans-serif;
$font-chinese:            '宋体', SimSun; // a serif-like font
$font-chinese-sans:       '黑体'; // a sans-serif-like font
$font-chinese-brush:      '隶书'; // a brush font
$font-chinese-thin:       '幼圆'; // a thin font

$imported-once-files: () !default;
@function import-once($name) {
  @if index($imported-once-files, $name) {
    @return false;
  }
  $imported-once-files: append($imported-once-files, $name);
  @return true;
}

