<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>OpenKaya</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/png" href="/resources/img/favicon.png" />
        <link rel="stylesheet" type="text/css" href="/resources/css/login.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/jquery.reject.css"/>
        <script src="/resources/js/lib/jquery.min.js"></script>
    </head>
    <body>
        <div id="frontend">
            <div id="login">
                <h1>Tournament & League</h1>
                    <h2>Welcome to OpenKaya's tournament organizer</h2>
                    <br/>
                    <a href="#" >Create Tournament</a>
            </div>
        </div>
    </body>
</html>
